#lvgo_memo_block {
    position: fixed;
    left: 0;
    top: 200px;
    background: #3388ff;
    padding: 10px;
    box-shadow: 0 0 10px #002761;
    border-radius: 3px;
    font-size: 12px !important;
    color: white;
    z-index: 99999999;
}

#selected_memo {
    cursor: pointer;
    position: fixed;
    background: #3388ff;
    padding: 6px;
    box-shadow: 0 0 5px #002761;
    border-radius: 3px;
    color: white;
    font-size: 12px !important;
    z-index: 99999999;
}


.lvgo-memo-add-success {
    position: fixed;
    left: -500px;
    padding: 16px;
    top: 30px;
    color: white;
    min-width: 120px;
    max-width: 700px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #3d8aff, #3e8aff);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    transition: left .5s;
    z-index: 99999999;
}


.lvgo-memo-highlight {
    background: yellow;
    color: red;
}

.lvgo-by-memo-highlight {
    font-size: 12px;
    background: #3d8aff;
    color: #fff;
    border-radius: 5px;
    margin-left: 2px;
    padding: 2px;
}